
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

header{
    font-family: arial;
    font-size: 12px;
}

html, body {
    overflow: hidden;
}
/* navbar */

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color: black;
    z-index: 1;
    width: 100%;
}


.logo {
    max-height: 35px;
    max-width: 200px;
    margin: 1.5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    margin: 1rem;
    text-align: center;
    position: relative;
}


.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover{
    color: gray;
}

/* end navbar */

/* hamburger */

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-top: 10px;
}

.bar{
    margin-top: 10px;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background-color: black;
}

.bar::before,
.bar::after{
    content:'';
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background-color: black;
    transition: all .5s ease-in-out;
   
}

/* hambuger animation */
.bar::before{
    transform: translateY(-10px);
}

.bar::after{
    transform: translateY(10px);
}

.toggle-button.open .bar::before{
    transform: translateY(0px);
}

.toggle-button.open .bar::after{
    transform: translateY(0px);
}
/* end hambuger animation */




/* end hamburger */

/* toggle hamburger in mobile view */

@media (max-width: 700px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        align-items: center;
        display: none;
        width: 100%;
        height: 100vh;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem;
    }

    .navbar-links.active{
        display: flex;
        margin-top: -40px;
    }

    .navbar.active{
        background-color:rgba(255, 255, 255, 0.692);
        backdrop-filter: blur(10px);
    }

}

/* end toggle hamburger in mobile view */

/* home page */
.container-scroll {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    scroll-snap-align: center;
}

section h1{
    font-size: 4rem;
}

section p{
    font-size: 1.5rem;
}

section#home {
    background: url("assets/object-study-two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

section#info {
    background: url("assets/object-study-two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

/* home page end */


